.container {
  font-family: Arial, sans-serif;
  max-width: 900px;
  margin-left:600px;
  padding: 30px;
  background-color: #fafafa;
  min-height: 1000px;
}

.profile-container {
  margin-left: 250px;
}

.profile-header {
  display: flex;
  align-items: center;
  margin-bottom: 100px;
}

.profile-image {
  width: 95%;
  height: 95%;
  border-radius: 50%;
  object-fit: cover;
}

.profile-image-box {
  width:150px;
  height: 150px;
  margin-right: 80px;
  border: 1px solid black;
  border-radius: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.profile-image-text {
  position:absolute;
  font-size: 15px;
  color: gray;
}

.profile-info {
  flex: 1;
}

.profile-info-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile-info-header button {
  width: 100px;
  height: 32px;
  border-radius: 8px;
  background-color: white; /* 흰색 배경 */
  color: #262626; /* 검정/짙은 회색 글씨 */
  font-size: 14px;
  margin-bottom: 14px;
  margin-left: 30px;
  border: 1px solid #dbdbdb; /* 연한 회색 테두리 */
  cursor: pointer;
  transition: all 0.2s ease; /* hover 시 부드럽게 */
}

.profile-username {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.profile-stats {
  display: flex;
  gap: 30px;
  margin-bottom: 10px;
  font-size: 14px;
}

.profile-bio {
  font-size: 14px;
  line-height: 1.4;
}

.profile-bio p:first-child {
  font-weight: bold;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.gallery img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

@media (max-width: 768px) {
  .profile-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .profile-image {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .profile-stats {
    gap: 15px;
  }
}
