.recommend-page {
    display: flex;
    width: 100%;
    min-height: 100vh;
}

.main-left-box {
    width: 245px;
    flex-shrink: 0;
    position: fixed;
    height: 100vh;
}

.recommend-list-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 245px; /* 사이드바 너비만큼 왼쪽 여백 확보 */
    padding: 40px 20px;
    align-items: center; /* 내부 리스트를 중앙으로 */
}

.recommend-list-title {
    width: 100%;
    max-width: 600px;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: left;
}

.recommend-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    max-width: 600px; /* 추천 리스트의 적절한 너비 설정 */
}

.recommend-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0;
}

.recommend-avatar {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    object-fit: cover;
}

.recommend-info {
    flex: 1;
    margin-left: 12px;
    display: flex;
    flex-direction: column;
}

.recommend-name {
    font-weight: bold;
    font-size: 14px;
}

.recommend-id {
    font-size: 14px;
    color: #737373;
}

.follow-button, .unFollow-button {
    background: none;
    border: none;
    color: #0095f6;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
}

.unFollow-button {
    color: #262626;
}

@media (max-width: 768px) {
    .main-left-box {
        width: 72px;
    }
    .recommend-list-container {
        margin-left: 72px;
    }
}