.main-container {
    display: flex;
    width: 100%;
    min-height: 100vh;
}

.main-left-box {
    width: 245px;
    flex-shrink: 0;
    position: fixed;
    height: 100vh;
    border-right: 1px solid #dbdbdb;
}

.main-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    margin-left: 245px;
    padding-top: 30px;
    min-width: 0;
}

.main-top-box {
    display: flex;
    width: 100%;
    max-width: 935px;
    justify-content: flex-start;
}

.main-bottom-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 64px;
    width: 100%;
    max-width: 935px;
}

.main-feed-box {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 470px;
    flex-shrink: 0;
}

.main-right-box {
    width: 320px;
    flex-shrink: 0;
    position: sticky;
    top: 30px;
}

@media (max-width: 1160px) {
    .main-right-box {
        display: none;
    }
    .main-bottom-box {
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .main-left-box {
        width: 72px;
    }
    .main-box {
        margin-left: 72px;
    }
}