.search-panel-container {
    /* 패널을 화면에 고정 */
    position: fixed;
    top: 0;
    left: 72px;
    /* SidebarLeft 너비(72px) 옆에 위치 */
    bottom: 0;
    width: 380px;
    /* 인스타그램 검색 패널 너비 */

    /* 디자인 및 그림자 효과 */
    background-color: #fff;
    border-right: 1px solid #dbdbdb;
    z-index: 100;
    /* 다른 콘텐츠 위에 표시 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 24px;
    box-sizing: border-box;
    margin-left: 28px;
    display: flex;
    flex-direction: column;
}

.search-panel-container h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 24px;
}

.search-header {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 24px;
}

.search-header input {
    flex-grow: 1;
    height: 40px;
    padding: 0 16px;
    border: none;
    border-radius: 8px;
    background-color: #efefef;
    font-size: 16px;
    font-weight: 400;
}

.search-header img {
    width: 15px;
    cursor:pointer;
}

.search-results {
    /* 검색 결과만 스크롤 가능하게 설정 */
    flex-grow: 1;
    overflow-y: auto;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.search-results::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera */
}

.result-item {
    padding: 8px 0;
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}

.result-item:hover {
    background-color: #efefef;
    border-radius: 8px;
}

.result-profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.result-info {
    display: flex;
    flex-direction: column;
}

.result-name {
    font-weight: 600;
    font-size: 14px;
    color: #262626;
}

.result-id {
    font-size: 12px;
    color: #8e8e8e;
}
